.root {
      margin: 2px;
    }

.paper {
    padding: 2em;
  }
.form {
    display: flex;
    flex-wrap:wrap;
    justify-content:center;
  }
  .form div{
    margin-bottom: 4px;
  }
.fileInput {
    width: 97%;
    margin: 10px 0;
  }
.buttonSubmit {
    margin: 10px 0 !important;
  }